$BODY: #3f3f3f;
$FONT: white;
$HEADER: rgb(0, 162, 255);
$SIDEBAR: powderblue;
$SIDEBAR_TEXT: brown;
$TODOLIST: white;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
#header{
    @include center;
    justify-content: flex-start;
    background-color: $HEADER;
    color: $FONT;
    font-size: 1.2rem;
    font-weight: 900;
    gap: 1rem;
    width: 100%;
    .logo{
        max-height: 3rem;
        padding: 10px;
    }
}

#content{
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
    .sidebar{
        padding: 10px;
        background-color: $SIDEBAR;
        ul{
            text-align: center;
            list-style-type: none;
            .link{
                padding: 10px;
                a{
                    text-decoration: none;
                    color: $SIDEBAR_TEXT;
                }
            }
        }
    }
    .todoList{
        @include center;
        align-items: flex-start;
        padding: 10px;
        background-color: $TODOLIST;
        table{
            width: clamp(320px, 800px, 1000px);
            .titles{
                font-size: 1.2rem;
                text-align: left;
            }
            th{
                padding: 10px;
            }
            td{
                padding: 10px;
                border-bottom: .1px dashed black;
            }
        }
    }
}

.column1{
    width: 50rem;
    &::before{
        content: url('./img/checkbox-blank-outline.png');
        cursor: pointer;
    }
}

.column2{
    width: 15rem;
    text-align: left;
    &::after{
        margin-left: 10px;
        content: url('./img/notebook-edit.png') + 
        url('./img/trash-can-outline.png');
        cursor: pointer;
    }
}

// <img src="../src/checkbox-blank-outline.png" alt="checkbox" class="blank-checkbox">