@import './scss/globals';
@import './scss/container';

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Coming Soon', cursive;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#header{
    @include center;
    justify-content: flex-start;
    background-color: $HEADER;
    color: $FONT;
    font-size: 2.5rem;
    font-weight: 900;
    gap: 1rem;
    width: 100%;
    .logo{
        max-height: 5rem;
        padding: 5px;
    }
}

#content{
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
    .sidebar{
        font-size: 1.5rem;
        padding: 10px;
        background-color: $SIDEBAR;
        ul{
            text-align: center;
            list-style-type: none;
            .link{
                padding: 10px;
                a{
                    text-decoration: none;
                    color: $SIDEBAR_TEXT;
                    text-shadow: 1px 1px white;
                }
            }
        }
    }
    .todoList{
        @include center;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        padding: 10px;
        background-color: $TODOLIST;
        table{
            width: clamp(320px, 800px, 1000px);
            .titles{
                font-size: 1.6rem;
                text-align: left;
                font-family: 'Times New Roman', Times, serif;
            }
            .dueDate{
                text-align: right;
            }
            th{
                padding: 10px;
            }
            td{
                font-size: 1.4rem;
                padding: 10px;
                border-bottom: .1px dashed black;
            }
        }
        .addToDoBtn{
            cursor: pointer;
        }
    }
}

.column2{
    text-align: right;
}

i.fa-arrow-down, i.fa-calendar, i.fa-exclamation{
    margin-left: 10px;
}